.sort-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 20px;
}

.uploads {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.text-box {
    text-align: center;
}